<extend name="Public:layout" />
<block name="main-content">
    <div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>

							<li>
								<a href="#">员工管理</a>
							</li>
							<li class="active">员工信息修改</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								<a href="__CONTROLLER__/index">返回员工列表</a>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<form action="__CONTROLLER__/updatepwd" class="form-horizontal" method="post" role="form" >
									<input type="hidden" name="id" value="{$_GET['id']}">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 新密码 </label>
										<div class="col-sm-9">
											<input name="password" type="password" id="password" placeholder="请输入新密码"  class="col-xs-10 col-sm-3" />
											<span class="help-inline col-xs-12 col-sm-7">
												<span id="yzpassword" class="middle"></span>
											</span>
									   </div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 确认密码 </label>
										<div class="col-sm-9">
											<input name="password2" type="password" id="password2" placeholder="请输入新密码"  class="col-xs-10 col-sm-3" />
											<span class="help-inline col-xs-12 col-sm-7">
												<span id="yzpassword2" class="middle"></span>
											</span>
									   </div>
									</div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="icon-ok bigger-110"></i>
												提交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="icon-undo bigger-110"></i>
												重填
											</button>
										</div>
									</div>
								<!-- PAGE CONTENT ENDS -->
								</form>
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

</block>

<block name="js">
	<script type="text/javascript">
			//自定义一盒函数来验证邮箱格式
		/*
		function isEmail(str){
			var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
            if(reg.test(str)){
				$("#yzemail").html("有效！");
				$("#yzemail").css("color","green");
				g = true;
			}else{
				$("#yzemail").html("无效！");
				$("#yzemail").css("color","red");
			}
		}
		
		$("#email").blur(function(){
			var email = $(this).val();
			//alert(email.length);
		    if(email.length==0){
			//alert(1);
				$("#yzemail").html("不能为空！");
				$("#yzemail").css("color","red");
			}else{
			    isEmail(email);
			}
		});
		*/
	//验证密码
		$("#password").blur(function(){
			var password = $(this).val();
			var len = password.length;
			if(password==""){
				$("#yzpassword").html("密码不能为空");
				$("#yzpassword").css("color","red");
			}else if(len < 6){
			    $("#yzpassword").html("密码至少六位");
				$("#yzpassword").css("color","red");
			
			}else{
				$("#yzpassword").html("密码格式有效！");
				$("#yzpassword").css("color","green");
				b = true;
				
			}
		});	
		$("#password2").blur(function(){
			var password2 = $(this).val();
			var password = $("#password").val();
			//alert(password2);
			if(password2==""){
				$("#yzpassword2").html("确认密码不能为空");
				$("#yzpassword2").css("color","red");
			}else if(password==password2){
				$("#yzpassword2").html("确认密码正确");
				$("#yzpassword2").css("color","green");
			}else{
				$("#yzpassword2").html("密码不一致");
				$("#yzpassword2").css("color","red");
			}
		});	
	</script>
</block>