 <!DOCTYPE html>
 <html>
     <head>
         <title></title>
         <meta charset="utf-8" />
         <link href="__PUBLIC__/index/css/index.css" rel="stylesheet"/>
         <link href="__PUBLIC__/index/css/public.css" rel="stylesheet"/>
         <script src="__PUBLIC__/index/js/jquery.js"></script>
         <script src="__PUBLIC__/js/plug.js"></script>
         <script src="__PUBLIC__/index/js/index.js"></script>
     </head>
     <body>
        <!--顶部快捷方式 START-->
        <div id="shortcut">
            <div class="w">
                <ul class="sendto">
                	<li>
                        <div class="send-target">
                            送至：<span>北京</span>
                            <i><span>◇</span></i>
                        </div>
                        <!--城市列表 START-->
                        <div class="send-list">
                            <div></div>
                            <ul class='sendcity'>
                                <li><a href="#none" data-id="01">北京</a></li> 
                                <li><a href="#none" data-id="02">上海</a></li> 
                                <li><a href="#none" data-id="03">天津</a></li> 
                                <li><a href="#none" data-id="04">重庆</a></li> 
                                <li><a href="#none" data-id="05">河北</a></li> 
                                <li><a href="#none" data-id="06">山西</a></li> 
                                <li><a href="#none" data-id="07">河南</a></li> 
                                <li><a href="#none" data-id="08">辽宁</a></li> 
                                <li><a href="#none" data-id="09">吉林</a></li> 
                                <li><a href="#none" data-id="10">江苏</a></li> 
                                <li><a href="#none" data-id="11">山东</a></li> 
                                <li><a href="#none" data-id="12">安徽</a></li> 
                                <li><a href="#none" data-id="13">浙江</a></li> 
                                <li><a href="#none" data-id="14">福建</a></li> 
                                <li><a href="#none" data-id="15">湖北</a></li> 
                                <li><a href="#none" data-id="16">湖南</a></li> 
                                <li><a href="#none" data-id="17">广东</a></li> 
                                <li><a href="#none" data-id="18">广西</a></li> 
                                <li><a href="#none" data-id="19">江西</a></li> 
                                <li><a href="#none" data-id="20">四川</a></li> 
                                <li><a href="#none" data-id="21">海南</a></li> 
                                <li><a href="#none" data-id="22">贵州</a></li> 
                                <li><a href="#none" data-id="23">云南</a></li> 
                                <li><a href="#none" data-id="24">西藏</a></li> 
                                <li><a href="#none" data-id="25">陕西</a></li> 
                                <li><a href="#none" data-id="26">甘肃</a></li> 
                                <li><a href="#none" data-id="27">青海</a></li> 
                                <li><a href="#none" data-id="28">宁夏</a></li> 
                                <li><a href="#none" data-id="29">新疆</a></li> 
                                <li><a href="#none" data-id="30">台湾</a></li> 
                                <li><a href="#none" data-id="31">香港</a></li> 
                                <li><a href="#none" data-id="32">澳门</a></li> 
                                <li><a href="#none" data-id="33">钓鱼岛</a></li>
                                <li><a href="#none" data-id="34">黑龙江</a></li> 
                                <li><a href="#none" data-id="35">内蒙古</a></li>  
                                <li><a href="#none" data-id="36">海外</a></li> 
                            </ul>
                        </div><!--城市列表 END-->
                    </li>
                </ul>
                <!--快捷菜单 START-->
                <ul class="short-menu" style="float: right">
                	<li>
                        <a href="#">username</a>
                        <a href="#">logout</a>
                    </li>
                    <li class="spacer"></li>
                	<li>
                        <a href="#">我的订单</a>
                    </li>
                    <li class="spacer"></li>
                	<li>
                        <a href="#" class="short-user">我的智联</a>
                        <div class="shortuser">
                            <div class="u-spacer"></div>
                            <div class="shortinfo">
                                <div class="u-pic">
                                    <a href="#"><img src="__PUBLIC__/index/images/shortcut-user.jpg" alt="" /></a>
                                </div>
                                <div class="u-name"><a href="#">username</a></div>
                                <div class="u-ext">
                                    <a href="#">购物车</a> | <a href="#">消息 <span style="color:red">1</span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="spacer"></li>
                	<li>
                        <a href="#">手机智联</a>
                    </li>
                    <li class="spacer"></li>
                    <li>
                        <a href="#">关注智联</a>
                    </li>
                    <li class="spacer"></li>
                	<li>
                        <a href="#">智联会员</a>
                    </li>
                    <li class="spacer"></li>
                    <li>
                        <a href="#">客户服务</a>
                	</li>
                </ul><!--快捷菜单 END-->
            </div>
        </div><!--顶部快捷方式 END-->

        <!--顶部BANNER START-->
        <block name="top-banner">
        
        </block>
        <!--顶部BANNER END-->
        <!--搜索块 START-->
        <block name="search">
        <div id="search" class="w">
            <!--LOGO START-->
            <div class="shop-logo">
                <a href="__CONTROLLER__/index"><img src="__PUBLIC__/index/images/shop-logo.png" /></a>
            </div><!--LOGO END-->
            <!--搜索框 START-->
            <div class="shop-search">
                <div class="search-form">
                    <form action="__CONTROLLER__/list" method="get">
                        <input type="text" value="" />
                        <button type="button" class="">搜索</button>
                    </form>
                </div>
            </div><!--搜索框 END-->
            <!--购物车 START-->
            <div class="shop-cart">
                <div class="sc-icons">
                    <i class="ci-left"></i>
                    <i class="ci-right">></i>
                    <i class="ci-count">6</i>
                    <a href="__CONTROLLER__/shopcart" target="_blank">我的购物车</a>
                </div>
                <div class="sc-history">
                    <div class="sc-spacer"></div>
                    <div class="sc-content">
                        <div class="sc-title">
                            <h4>最新加入的商品</h4>
                        </div>
                        <div class="sc-list">
                            啊啊啊啊啊啊啊啊啊啊啊啊
                        </div>
                        <div class="sc-bar">
                            <div class="sc-bar-total">
                                共 <b>6</b> 件商品 共计 <strong>￥ 2371.00</strong>
                            </div>
                            <a href="">去购物车</a>
                        </div>
                    </div>
                </div>
            </div><!--购物车 END-->
             <!--热搜关键词 START-->
            <div class="shop-hotwords">
                <a href="#">立减120</a>
                <a href="#">冷风扇</a>
                <a href="#">酷爽冰饮</a>
                <a href="#">起泡酒节</a>
                <a href="#">凉席</a>
                <a href="#">10元秒杀</a>
                <a href="#">精品团</a>
                <a href="#">12期免息</a>
                <a href="#">机票20元</a>
            </div><!--热搜关键词 END-->
        </div>
        </block><!--搜索块 END-->
        <!--导航 START-->
        <block name="nav">
        </block><!--导航 END-->

        <block name="content">
        
        </block>
        <!--footer START-->
        <div id="footer">
            <div class="slogen">
                <div class="w">
                    <i class="item1"></i>
                    <i class="item2"></i>
                    <i class="item3"></i>
                    <i class="item4"></i>
                </div>
            </div>
            <div class="w">
                <div class="otherinfo">
                    <div class="links">
                        <a href="#">关于我们</a>
                        |<a href="#">联系我们</a>
                        |<a href="#">联系我们</a>
                        |<a href="#">联系我们</a>
                        |<a href="#">联系我们</a>
                        |<a href="#">联系我们</a>
                        |<a href="#">联系我们</a>
                        |<a href="#">联系我们</a>
                    </div>
                    <div class="copyright">ICP经营许可证：<span>京ICP证XXXXXX号</span>
                    </div>
                </div>
            </div>
        </div><!--footer END-->
        <!--电梯 START-->
        <div id="global-toolbar">
        
        </div><!--电梯 END-->
        <!--个人快捷栏 START-->
        <div id="elevator">
        
        </div><!--个人快捷栏 END-->
     </body>
 </html>